* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  background-color: rgb(122, 122, 255);
}

body {
  margin: 0;
  padding: 0;
  min-width: 350px;
  border: none;
  font-family: "Poppins";
  font-size: 14px;
  color: #626262;
  letter-spacing: 0em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #171717;
}

.background.gradient {
  background: linear-gradient(to bottom right, #030a33 0%, #000106 100%);
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 80px;
  height: 80px;
  bottom: -320px;
  animation: square 50s infinite;
  transition-timing-function: linear;
  border-radius: 4px;
}

.bg-bubbles .planet1 {
  width: 100px;
  left: 10%;
}

.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 160px;
  height: 160px;
  animation-delay: 2s;
  animation-duration: 34s;
}

.bg-bubbles li:nth-child(3) {
  left: 25%;
  animation-delay: 3s;
  animation-delay: 34s;
}

.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 120px;
  height: 120px;
  animation-duration: 44s;
}

.bg-bubbles li:nth-child(5) {
  left: 70%;
}

.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 240px;
  height: 240px;
  animation-delay: 3s;
}

.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 320px;
  height: 320px;
  animation-delay: 7s;
}

.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 40px;
  height: 40px;
  animation-delay: 15s;
  animation-duration: 80s;
}

.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 80s;
}

.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 320px;
  height: 320px;
  animation-delay: 22s;
}

@keyframes square {
  0% {
    transform: translateY(0);
  }
  50% {
  }
  100% {
    transform: translateY(-1500px) rotate(600deg);
  }
}

input,
textarea,
button {
  margin: 0;
  padding: 0;
  display: block;
  font-family: "Poppins";
  font-size: 13px;
  width: 100%;
  height: 60px;
  color: #171717;
  background: none;
  border: none;
  border-bottom: 1px solid #d8dbe2;
  appearance: none;
  resize: none;
  outline: 0;
  transition: all 0.3s ease 0s;
  border-radius: 0px;
}

input:focus,
textarea:focus,
button:focus {
  color: #171717;
  border-bottom: 1px solid #3b2dcc;
}

.title {
  text-align: left;
  margin: 0 0 15px 20px;
  padding: 0 0 5px 0;
  position: relative;
  font-size: 17px;
  color: #171717;
  line-height: 21px;
  font-weight: 500;
}

.title::before {
  content: "";
  position: absolute;
  left: -12px;
  top: 0;
  width: 30px;
  height: 30px;
  background: linear-gradient(
    135deg,
    rgba(46, 202, 127, 0.4) 0%,
    rgba(46, 202, 127, 0.01) 100%
  );
  z-index: -1;
  border-radius: 30px;
}

.title::after {
  position: absolute;
  left: -40px;
  bottom: -15px;
  width: 95%;
  height: 1px;
  background: radial-gradient(
    ellipse at left,
    rgba(197, 202, 213, 0.7) 0%,
    rgba(255, 255, 255, 0) 70%
  );
}

.line-left {
  position: relative;
}

.line-left::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: radial-gradient(
    ellipse at top,
    rgba(197, 202, 213, 0.7) 0%,
    rgba(255, 255, 255, 0) 70%
  );
}

.line-down {
  position: relative;
}

.line-down.hidden {
  display: none;
}

.line-down::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: radial-gradient(
    ellipse at left,
    rgba(197, 202, 213, 0.7) 0%,
    rgba(255, 255, 255, 0) 70%
  );
}

header {
  background-color: white;
  border-radius: 0 0 5px 5px;
  width: 100%;
  max-width: 540px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  z-index: 5; /*100*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header nav a {
  width: 100%;
  height: 72px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: color 0.3s ease 0s;
  font-size: 20px;
}

header nav a::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  background: radial-gradient(
    ellipse at top,
    rgba(197, 202, 213, 0.7) 0%,
    rgba(255, 255, 255, 0) 70%
  );
}

header nav a .link {
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 4px;
}

header nav a:hover {
  color: #3b2dcc;
}

main {
  margin-top: 88px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

main .profile,
main .about,
main .resume,
main .works,
main .contact {
  position: relative;
  background: #ffffff;
  text-align: center;
  /* z-index: 10;  */
  border-radius: 4px;
  max-width: 540px;
  margin: 0 auto;
}

main .about,
main .resume,
main .works,
main .contact {
  padding: 30px 20px 30px 20px;
  margin-top: 15px;
}

main .profile {
  margin-top: 18px;
  overflow: hidden;
}

.profile-background {
  background-image: url("./img/crewDragon.png");
  height: 300px;
  background-size: cover;
  background-position: center center;
  position: relative;
  /* z-index: -2; */
}

.profile-background::after {
  position: absolute;
  right: -12%;
  bottom: -198px;
  width: 700px;
  height: 200px;
  background: #ffffff;
  transform: rotate(12deg);
  z-index: -1;
}

.profile-background::before {
  position: absolute;
  left: -12%;
  bottom: -198px;
  width: 700px;
  height: 200px;
  background: #ffffff;
  transform: rotate(348deg);
  z-index: -1;
}

.profile-image {
  position: relative;
  height: 84px;
}

.profile-image img {
  position: relative;
  top: -82px;
  border-radius: 50%;
  width: 134px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.profile-name {
  font-size: 32px;
  color: #171717;
  line-height: 32px;
  font-weight: 400;
  margin: 0 auto 0 auto;
}

.profile-profession {
  color: #3b2dcc;
  line-height: 14px;
  font-weight: 400;
}

.links-community {
  color: #3b2dcc;
}

.profile-social a {
  transition: color 0.3s ease 0s;
  margin: 0 6px;
  font-size: 16px;
}

.profile-social a:hover {
  text-decoration: none;
  color: #3b2dcc;
}

.profile-buttons {
  position: relative;
  display: flex;
  margin-top: 29px;
  margin-bottom: 29px;
  justify-content: center;
}

.profile-buttons::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background: radial-gradient(
    ellipse at left,
    rgba(197, 202, 213, 0.7) 0%,
    rgba(255, 255, 255, 0) 70%
  );
}

.profile-buttons a {
  position: relative;
  width: 50%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
  line-height: 70px;
  font-size: 12px;
  font-weight: 500;
  color: #171717;
}

.profile-buttons a:hover {
  color: #3b2dcc;
}

.profile-buttons a:first-child::before,
.profile-buttons a:first-child::after {
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: radial-gradient(
    ellipse at top,
    rgba(197, 202, 213, 0.7) 0%,
    rgba(255, 255, 255, 0) 70%
  );
}

.profile-buttons a i {
  margin-left: 10px;
  font-size: 15px;
}

/* About Sobre mi */

.about-aboutMe > div {
  padding: 5px 17px;
  position: relative;
}

/* .about-aboutMe>div>div>div span {
    font-weight: 500;
    font-size: 13px;
} */

.about-aboutMe p {
  text-align: left;
}

.contact-information1 {
  display: contents;
  flex-wrap: wrap;
  padding: 11px 18px;
}

/* About Servicios */

.about-services {
  margin-top: 50px;
}

.about-services > div {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.about-services > div:after {
  position: absolute;
  left: 50%;
  top: 0;
  width: 1px;
  height: 100%;
  background: radial-gradient(
    ellipse at top,
    rgba(197, 202, 213, 0.7) 0%,
    rgba(255, 255, 255, 0) 70%
  );
}

.about-services article {
  position: relative;
  width: 50%;
  text-align: left;
  padding: 15px 20px;
}

.about-services article .fas {
  margin: 0;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 32px;
  color: #3b2dcc;
  background: linear-gradient(
    135deg,
    rgba(46, 202, 127, 0.4) 0%,
    rgba(46, 202, 127, 0.01) 100%
  );
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-services article h4 {
  font-size: 13px;
  color: #171717;
  font-weight: 500;
  text-transform: uppercase;
}

.about-services article p {
  font-size: 14px;
  line-height: 1.6;
  padding: 0;
}

/* About Precio de servicios */

.about-pricing {
  margin-top: 30px;
}

.about-pricing .disabled {
  text-decoration: line-through;
  opacity: 0.6;
}

.about-pricing .new {
  margin: 0 0 0 5px;
  padding: 0 5px;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  color: #171717;
  background: rgba(46, 202, 127, 0.4);
  font-weight: 300;
  border-radius: 2px;
}

.about-pricing > div {
  display: flex;
}

.about-pricing > div > div {
  width: 50%;
}

.about-pricing > div > div > div {
  padding: 25px 0px;
}

.about-pricing > div > div > div > div {
  padding: 5px 0;
  font-size: 14px;
  color: #171717;
}

.about-pricing .amount {
  margin: 15px 0 25px 0;
}

.about-pricing .dollar {
  margin: 0 3px;
  position: relative;
  bottom: 7px;
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  font-weight: 400;
  color: #171717;
}

.about-pricing .number {
  margin: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 42px;
  line-height: 26px;
  font-weight: 500;
  color: #171717;
}

.about-pricing .period {
  bottom: auto;
  top: 7px;
  vertical-align: bottom;
  font-size: 13px;
  color: #626262;
  position: relative;
  margin-left: 7px;
}

.about-pricing .icon {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 32px;
  color: #3b2dcc;
}

.about-pricing a {
  position: relative;
  float: left;
  width: 100%;
  height: 70px;
  line-height: 70px;
  font-size: 12px;
  color: #171717;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s ease;
  border: none;
}

.about-pricing a:hover {
  color: #3b2dcc;
}

/* About Fun */

.about-fun {
  margin-top: 50px;
}

.about-fun > div {
  display: flex;
  justify-content: space-around;
}

.about-fun > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 148px;
  width: 25%;
}

.about-fun .fas {
  margin: 0 auto;
  height: 43px;
  text-align: center;
  font-size: 26px;
  color: #3b2dcc;
}

/* About Clients */

.about-clients {
  margin-top: 50px;
}

.about-clients .images {
  display: flex;
}

.about-clients .images a {
  width: 25%;
  padding: 18px;
}

.about-clients .images img {
  max-width: 100%;
  opacity: 0.4;
}

/* Resumen Experiencia y Educacion */

.resume-lines {
  display: flex;
}

.resume-line h4 {
  margin: 0;
  text-align: left;
  padding: 20px 18px;
  font-size: 13px;
  line-height: 13px;
  color: #171717;
  font-weight: 500;
  text-transform: uppercase;
}

.resume-line h4 .fas {
  position: relative;
  float: left;
  top: -7px;
  width: 40px;
  height: 40px;
  font-size: 26px;
  color: #3b2dcc;
}

.resume-line {
  flex: 1;
  text-align: left;
}

.resume-line article {
  padding: 15px 15px;
}

.resume-line .date {
  margin: 0 0 10px 0;
  padding: 0;
  position: relative;
  display: inline-block;
  font-size: 11px;
  line-height: 18px;
  color: #d8dbe2;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 4px;
}

.resume-line .date::before {
  content: "";
  position: absolute;
  left: -19px;
  top: 4px;
  width: 9px;
  height: 9px;
  background: #d8dbe2;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  -khtml-border-radius: 9px;
}

.resume-line .date.active {
  color: #3b2dcc;
}

.resume-line .date.active::before {
  background: #3b2dcc;
}

.resume-line .name {
  margin: 0;
  font-size: 13px;
  color: #171717;
  font-weight: 500;
  text-transform: uppercase;
}

.resume-line .company {
  margin: 0 0 10px 0;
  font-size: 11px;
  color: #999999;
  font-weight: 300;
  text-transform: uppercase;
}

/* Resumen Skills */

.resume-skills {
  margin-top: 50px;
}

.resume-skills > div {
  display: flex;
}

.resume-skills > div section {
  flex: 1;
  text-align: left;
}

.resume-skills > div section > p {
  padding: 0px 20px;
}

.resume-skills > div section > div > div:first-child {
  margin: 0 0 8px 0;
  font-size: 14px;
  line-height: 14px;
  color: #626262;
  text-align: left;
}

.resume-skills > div section > div > div:last-child {
  width: 100%;
  background: #d8dbe2;
  height: 4px;
}

.resume-skills > div section > div > div > div {
  background: #3b2dcc;
  height: 4px;
}

.resume-skills h4 {
  margin: 0;
  text-align: left;
  padding: 20px 18px;
  font-size: 13px;
  line-height: 13px;
  color: #171717;
  font-weight: 500;
  text-transform: uppercase;
}

.resume-skills h4 .fas {
  position: relative;
  float: left;
  top: -7px;
  width: 40px;
  height: 40px;
  font-size: 26px;
  color: #3b2dcc;
}

/* Works menu */

.works-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.works-header ul {
  display: flex;
  list-style: none;
  padding: 0;
  padding-bottom: 17px;
}

.works-header h3::after {
  position: absolute;
  left: -40px;
  bottom: -27px;
  width: 400%;
  height: 1px;
  background: radial-gradient(
    ellipse at left,
    rgba(197, 202, 213, 0.7) 0%,
    rgba(255, 255, 255, 0) 70%
  );
}

.works-header ul li {
  margin: 0 5px;
  cursor: pointer;
}

li.category.selected {
  color: #3b2dcc;
  font-weight: 600;
}

/* Works Contenido */

.works-content {
  display: flex;
  flex-wrap: wrap;
}

.works-content > div {
  width: 50%;
}

.works-content > div > div {
  padding: 18px;
}

.works-content > div > div h4 {
  padding: 0 0 2px 0;
  display: block;
  font-size: 13px;
  color: #171717;
  font-weight: 500;
  text-transform: uppercase;
  width: 126px;
  margin: 0 auto;
}

.works-content > div > div h5 {
  margin: 0;
  font-size: 11px;
  color: #999999;
  font-weight: 300;
  text-transform: uppercase;
}

.works-content img {
  width: 100%;
}

.tech {
  font-size: 24px;
  color: rgb(var(--rgba-secondary-dark));
}

/* Work Modal*/

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 75px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 4px;
  padding-top: 5px;
  max-width: 450px;
}

.modal-content h4 {
  padding: 10px 0 2px 0;
  display: block;
  font-size: 16px;
  color: #170a1c;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
  margin: 0 auto;
}

.modal-content a {
  padding: 0px 0 2px 0;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
  margin: 0 auto;
}

.modal-content h5 {
  margin: 0;
  color: rgb(var(--rgba-primary));
  text-decoration: underline;
}

.modal-content img {
  width: 80%;
  overflow: hidden;
}

/* The Close Button */
.close {
  color: #aaa;
  display: block;
  text-align: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Contacto informacion */

main .contact {
  margin-bottom: 40px;
}

.contact-information {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 11px 18px;
}

.contact-information > div {
  text-align: left;
  margin-bottom: 15px;
}

.contact-information > div span {
  font-weight: 500;
  font-size: 13px;
}

/* Animacion para responsive */

@media only screen and (min-width: 540px) {
  header {
    left: calc(50% - 270px);
  }
}

@media only screen and (min-width: 1040px) {
  .selected {
    color: #3b2dcc;
  }
  .page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header {
    max-width: 80px;
    position: relative;
    border-radius: 5px;
    left: -6px;
  }
  header nav {
    display: flex;
    flex-direction: column;
  }
  header nav a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: radial-gradient(
      ellipse at left,
      rgba(197, 202, 213, 0.7) 0%,
      rgba(255, 255, 255, 0) 70%
    );
  }
  main {
    display: flex;
    margin: 0;
    width: 1020px;
  }
  main .about,
  main .resume,
  main .works,
  main .contact {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: relative;
    top: 16px;
    transform: translateX(-450px);
    transition: opacity 1s ease, transform 1s ease;
    z-index: 0;
    margin: 0;
    padding: 0;
  }
  main .profile {
    width: 480px;
    height: 600px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    margin: 0;
  }
  main .view {
    height: 574px;
    width: 540px;
    padding: 30px 20px 30px 20px;
    overflow: auto;
    opacity: 1;
    transform: translateX(-8px);
  }
  main .view::-webkit-scrollbar {
    width: 5px;
  }
  main .view::-webkit-scrollbar-track {
    background: #ddd;
  }
  main .view::-webkit-scrollbar-thumb {
    background: #666;
  }
  main .contact {
    margin-bottom: 0;
  }
}
